.product
  .container-fluid
    .row
      .col-lg-3.p-0
        img.product__img(src=require("../../../assets/images/02_Home_02-06.gif"), alt="")
      .col-lg-3.p-0
        img.product__img(src=require("../../../assets/images/02_Home_04-08.gif"), alt="")
      .col-lg-3.p-0
        img.product__img(src=require("../../../assets/images/02_Home_10.png"), alt="")
      .col-lg-3.p-0
        img.product__img(src=require("../../../assets/images/02_Home_07.gif"), alt="")
      .col-lg-3.p-0
        img.product__img(src=require("../../../assets/images/02_Home_04-08.gif"), alt="")
      .col-lg-3.p-0
        img.product__img(src=require("../../../assets/images/02_Home_10.png"), alt="")
      .col-lg-3.p-0
        img.product__img(src=require("../../../assets/images/02_Home_02-06.gif"), alt="")
      .col-lg-3.p-0
        img.product__img(src=require("../../../assets/images/02_Home_07.gif"), alt="")


